# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Make sure gradle wrapper jar is added:
!gradle/wrapper/gradle-wrapper.jar

# Ignore build/tmp files
build/tmp

# Ignore build folder
build

# Stuff below I copied from https://github.com/Open-RIO/.gitignore/blob/master/.gitignore
run/
.gradle/
gradle/.launch/

# Backup files
*~

# WPILib
bin/
build/
dist/
sysProps.xml
workbench.xmi